<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find nefive_description)/config/nefive_control.yaml" command="load"/>
  <rosparam file="$(find nefive_description)/config/wheel_pids.yaml" command="load" />
  
  <!-- load the controllers -->
  <node name="nefive_controller_manager" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/nefive" 
    args="
      head_pan_joint_position_controller 
      head_tilt_joint_position_controller 
      right_arm_right_shoulder_tilt_joint_position_controller
      right_shoulder_tilt_right_shoulder_pan_joint_position_controller
      right_shoulder_pan_right_shoulder_rotate_joint_position_controller
      right_shoulder_rotate_right_elbow_joint_position_controller
      right_elbow_right_forearm_joint_position_controller
      right_forearm_right_wrist_roll_joint_position_controller
      right_wrist_roll_right_wrist_tilt_joint_position_controller
      right_wrist_tilt_right_wrist_pan_joint_position_controller
      left_arm_left_shoulder_tilt_joint_position_controller
      left_shoulder_tilt_left_shoulder_pan_joint_position_controller
      left_shoulder_pan_left_shoulder_rotate_joint_position_controller
      left_shoulder_rotate_left_elbow_joint_position_controller
      left_elbow_left_forearm_joint_position_controller
      left_forearm_left_wrist_roll_joint_position_controller
      left_wrist_roll_left_wrist_tilt_joint_position_controller
      left_wrist_tilt_left_wrist_pan_joint_position_controller
      joint_state_controller"
    />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/nefive/joint_states" />
  </node>

</launch>


