<launch>
  <arg name="model" default="$(find nefive_description)/urdf/nefive.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <!-- <remap from="/joint_states" to="/nefive/joint_states" /> -->
  </node>

</launch>


