<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nefive">
  <xacro:include filename="materials.xacro" />  
  <xacro:include filename="base.xacro" />  
  <xacro:include filename="wheels.xacro" />  
  <xacro:include filename="torso.xacro" />  
  <xacro:include filename="head.xacro" />
  <xacro:include filename="arms.xacro" />  
</robot>